.btn {
  border: 0;
  outline: 0;
  cursor: pointer;
  padding: var(--btn-padding);
  border-radius: var(--btn-radius);
  font-size: var(--btn-size);
  background-color: inherit;
  text-transform: uppercase;
  color: var(--text);

  &:hover,
  &:focus {
    background-color: rgba(#000, .1);
    color: var(--white);
  }
}
