.main {
  padding: 100px;

  background: {
    color: var(--white);
    attachment: fixed;
    position: right bottom;
    repeat: no-repeat;
    image: url('./images/bg2.jpg');
    // size: contain;
  }
}
