.wrapper {
  min-height: calc(100vh - 200px);
  
  display: flex;
  flex-direction: column;
}

.header {
  height: 100px;
  padding: var(--gutter);

  display: flex;
  align-items: center;
}

.row {
  // display: flex;
  width: 100%;
}

.helper {
  flex-basis: 150px;
}

.content {
  display: flex;
  flex-wrap: wrap;
  flex: 1;
  
  padding: 5px;
}

.isActive {
  color: var(--highlight);
}
