.wrapper {
  min-height: calc(100vh - 200px);
  
  display: flex;
  flex-direction: column;

  // background-color: var(--primary);
}

.header {
  height: 100px;
  padding: var(--gutter);

  display: flex;
  align-items: center;

  // background-color: var(--white);
}

.row {
  display: flex;
  flex: 1;
}

.helper {
  flex-basis: 150px;
  // background-color: var(--red);
}

.content {
  display: flex;
  flex: 1;
  // flex-wrap: wrap;
  overflow-x: auto;
  
  padding: 5px;
}

.isActive {
  color: var(--highlight);
}
