@import './variables';

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: var(--text);
  font-size: var(--font-size);
  font-family: var(--custom-font);
  letter-spacing: --letter-spacing;
  overflow: hidden;
}

* {
  box-sizing: border-box;
}

@font-face {
  font-family: 'Gang of Three';
  src: url('./fonts/GangofThree.eot');
  src: url('./fonts/GangofThree.eot?#iefix') format('embedded-opentype'),
      url('./fonts/GangofThree.woff2') format('woff2'),
      url('./fonts/GangofThree.woff') format('woff'),
      url('./fonts/GangofThree.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

.shadow-4 {
  box-shadow: rgba(0, 0, 0, 0.2) 0px 1px 8px 0px, rgba(0, 0, 0, 0.14) 0px 3px 4px 0px, rgba(0, 0, 0, 0.12) 0px 3px 3px -2px;
}

.text {
  &-center { text-align: center; }
  &-right { text-align: right; }
  &-left { text-align: left; }
}

