:root {
  --primary: #dfe4ea;
  --secondary: #2E3033;
  --text: #2f3542;
  --highlight: #ff4757;
  --text-invert: #fff;
  
  --gutter: 15px;

  --fontSize: 14px;
  
  --btn-radius: 4px;
  --btn-padding: 8px 12px;
  --btn-size: 1rem;
}
