.player {
  padding: var(--gutter);
  margin: 5px;

  min-width: 250px;

  display: flex;
  flex-direction: column;
  flex-grow: 1;

  background-color: rgba(#fff, .7);
  
  &.isCompact {
    .playlist {
      height: 50px;
    }
  }
}

// .info {

// }

.playlist {
  height: 150px;
  margin: auto 0;
  overflow: auto;
  
  font-family: var(--default-font);
  color: var(--text-invert);
  background-color: var(--secondary);
}

.actions {
  margin-top: auto;

  display: flex;
  flex-wrap: wrap;
  
  .volume,
  .playspeed {
    padding: {
      top: var(--gutter);
      bottom: var(--gutter);
    }
    width: 100%;
  }

  * {
    flex-grow: 1;
    text-align: center;
  }
}

.btnDelete {
  width: 64px;
}
