.player {
  margin: 10px;

  width: calc(#{percentage(3/12)} - 20px);
  // height: percentage(6/12);
  height: 300px;

  padding: var(--gutter);
  display: flex;
  flex-direction: column;

  box-shadow: 0 1px 2px 0 rgba(#000, .1);
  background-color: rgba(#fff, .3);

  &.isCompact {
    background-color: var(--highlight);
  }
}

// .info {

// }

.playlist {
  color: var(--text-invert);
  height: 150px;
  margin: auto 0;
  overflow: auto;
  background-color: var(--secondary);
}

.actions {
  margin-top: auto;

  display: flex;
  flex-wrap: wrap;
  
  .volume {
    padding: {
      top: var(--gutter);
      bottom: var(--gutter);
    }
    width: 100%;
  }

  * {
    flex-grow: 1;
    text-align: center;
  }
}
